<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SchedulesMapper">
  <resultMap id="BaseResultMap" type="pojo.Schedules">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="employee_id" jdbcType="INTEGER" property="employeeId" />
    <result column="clazz_id" jdbcType="INTEGER" property="clazzId" />
    <result column="clazz_date" jdbcType="DATE" property="clazzDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, employee_id, clazz_id, clazz_date
  </sql>
  <select id="selectByExample" parameterType="pojo.SchedulesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from schedules
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from schedules
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from schedules
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="pojo.Schedules" useGeneratedKeys="true">
    insert into schedules (employee_id, clazz_id, clazz_date
      )
    values (#{employeeId,jdbcType=INTEGER}, #{clazzId,jdbcType=INTEGER}, #{clazzDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="pojo.Schedules" useGeneratedKeys="true">
    insert into schedules
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="clazzId != null">
        clazz_id,
      </if>
      <if test="clazzDate != null">
        clazz_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="employeeId != null">
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="clazzId != null">
        #{clazzId,jdbcType=INTEGER},
      </if>
      <if test="clazzDate != null">
        #{clazzDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Schedules">
    update schedules
    <set>
      <if test="employeeId != null">
        employee_id = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="clazzId != null">
        clazz_id = #{clazzId,jdbcType=INTEGER},
      </if>
      <if test="clazzDate != null">
        clazz_date = #{clazzDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Schedules">
    update schedules
    set employee_id = #{employeeId,jdbcType=INTEGER},
      clazz_id = #{clazzId,jdbcType=INTEGER},
      clazz_date = #{clazzDate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>